

.banner{
    background-image: url(img/zebra\ banner\ 2\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .nav-link{
        color: white;
    }
    .head{
        display: flex;
       justify-content: center;
       flex-direction: column;
       height: 40vh ;
    }
    h1{
        color: white;
        font-size: 150px;
        text-align: center;
        
        
        
    }

    .nav-link:hover{
        text-decoration: underline;
    }
}




@mixin activities{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: inline-block;
        position: relative;
        h5{
            cursor:pointer;
        }
}

 
    .game{
        background-image: url(img/game\ drives.png);
        @include activities();
       
    }
    .safari{
        background-image: url(img/Rectangle\ 16.png);
        @include activities();

    }
    .bird{
        background-image: url(img/bino.png);
        @include activities();
    }

    .canoe{
        background-image: url(img/Rectangle\ 19.png);
        @include activities();
    }

    .fish{
        background-image: url(img/fishing.png);
        @include activities();
    }

    .Jacob{
        background-image: linear-gradient(0deg,rgba(231, 83, 23, 0.4),rgba(231, 83, 23, 0.4)) ,url(img/men\ sipping\ beer.jfif) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        
    }

    .Brown{
        background-image: linear-gradient(0deg,rgba(231, 83, 23, 0.4),rgba(231, 83, 23, 0.4)), url(img/family.jfif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
        height: 70vh;
    }
    
    .inner{
        height: 70vh;
    }

    .foot{
        background-color: #e75317;
        color: white;
       
        .nav-link{
            color: white;
        }

        button{
            background-color: #3e3721;
            border-style: none;
            border-radius: 2px;
            width: 100px;
            
        }
        
    }

  
        
    
.texts{
        display: none;
    }
 
.game:hover p{
 display: block;
}
.safari:hover p{
 display: block;
}

 .fish:hover p{
    display: block;
}

.canoe:hover p{
    display: block;
}

.bird:hover p{
    display: block;
}

.orange{
    color: white;
    background-color: #e75317;
    width: 100px;
    border-style: none;
    border-radius: 2px;
}


.luxury{
    background-color: #e75317;
    color: white;
    padding: 2%;
    height: 60vh;
    width: 290px;
    
}

.inner4{
    background-image: url(img/long\ river.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    
}

.inner5{
    background-image: url(img/pool2.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
}


@media( max-width: 576px){
   
        .banner h1{
            color: white;
            font-size: 80px;
            text-align: center;
            }
}





           
    

    
    

    

  
 
